.editTable td {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.editTable td.label {
	font-size: 14px;
	padding-left: 50px;
}

input.inputText {
	width: 200px;
	border: 1px solid #DDDDDD;
	height: 30px;
	line-height: 30px;
	width: 260px;
	padding-left: 5px;
	padding-right: 5px;
}

.lineTitle {
	color: #0ba6b8;
	font-size: 18px;
	font-weight: bolder;
	background-color: #f0f0f0;
}

.regsiter_bot {
	border: medium none;
	color: #FFFFFF;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	text-align: center;
	width: 146px;
	cursor: pointer;
}