body {
	font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
	background-color: #d4d5d6;
}

.container {
	width: 968px;
	margin: auto;
	overflow: hidden;
}

.panel {
	background: #FFF;
	padding: 10px;
	float: left;
	margin: 5px;
}
.panel .top {
	height: 30px;
	border-bottom: #209fa9 dotted 1px;
	margin-bottom: 15px;
}
.panel .top .title {
	float: left;
	height: 25;
}

.panel .top .title span {
	margin: 5px 0 0 10px;
	display: inline-block;
	font-weight: bolder;
	font-family: "黑体";
	font-size: 15px;
	color: #399b9a;
}

.panel .top .more {
	float: right;
	width: 54px;
	height: 20px;
	display: block;
	padding-top: 3px;
	padding-left: 5px;

}
.panel .top .more a {
	font-size: 12px;
	color: #399b9a;
	margin-left: 6px;
	margin-top: 5px;
	line-height: 14px;
	text-decoration: none;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

.panel ul.list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.panel ul.list li {
	font-size: 12px;
	color: #000000;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	line-height: 22px;
	_line-height: 19px;
	min-width: 216px;
	word-break: keep-all;
	white-space: nowrap;
}

.panel ul.list li a {
	text-decoration: none;
	color: #000;
}

.panel ul.list li a:hover {
	text-decoration:underline;
}

.panel img {
	cursor: pointer;
}
a {
	color: black;
}

.imageContainer {
}

.imageContainer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.imageContainer li {
	float: left;
	margin: 10px;
}

.imageContainer ul li a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	display: block;
}

.imageContainer ul li a:hover {
	text-decoration: underline;

}

.panel .tabs .tabTitles li {
	list-style: none;
	float: left;
	margin-bottom: 10px;
}

.panel .tabs .tabTitles li a {
	padding: 5px 15px;

	text-decoration: none;
}

.panel .tabs > div {
	clear: left;
}

.panel .tabTitles .selected {
	border-top: 2px solid #206F96;
}